/* welcome.css */
.main-welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.welcome-container{
    width: 400px;
    height: 230px;
    margin-top: 40px;
    margin-right: 250px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5); 
}
  
  .background-image {
    background-image: url('./welcome_back.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease;
  }

  .background-image:hover{
    opacity: 80%;
  
  }
  
  .welcome-text-container{
    width: 400px;
    height: 230px;
    position: absolute;
    margin-bottom: 220px;
    margin-left: 200px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    
  }
  .welcome-text
  {
    padding: 19px;
  }
  .welcome-text h2{
    font-size: 30px;
    text-align: center;
  }
.welcome-buttons-div
{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}



.sign-in-welcome-btn {
    position: relative;
    padding: 3px 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #0077ff;
    transition: all 0.2s ease;
    margin-bottom: 10px;
    transition: box-shadow 0.6s ease;
  }

  .sign-in-welcome-btn:hover {
    box-shadow: 0 0 10px 2px #0077ff;
    transition: box-shadow 0.6s ease; 
  }
  
  .sign-in-welcome-btn:active {
    transform: scale(0.96);
  }
  
  .sign-in-welcome-btn:before,
  .sign-in-welcome-btn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .sign-in-welcome-btn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #0077ff 20%, transparent 30%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 1s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .sign-in-welcome-btn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%),
      radial-gradient(circle, #0077ff 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 1s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  

  .p-welcome-text
  {
    font-size: 15px;
  }

